.footer {
    .container {
        background-color: #222222;
        display         : flex;
        justify-content : center;
        color           : white;

        p {
            font-size  : 16px;
            /* color   : #717070; */
            line-height: 1.8em;
            font-weight: 400;
            margin     : 16px 0;
            box-sizing : border-box;

            a {
                color          : #3182ae;
                cursor         : pointer;
                text-decoration: none;
            }
        }
    }
}
