@mixin subString($line) {

    &,
    &>* {
        overflow     : hidden;
        text-overflow: ellipsis;
        white-space  : nowrap;
        word-break   : break-all;

        @supports (-webkit-line-clamp: $line) {
            overflow          : hidden;
            text-overflow     : ellipsis;
            white-space       : initial;
            display           : -webkit-box;
            -webkit-line-clamp: $line;
            -webkit-box-orient: vertical;
        }
    }
}
